html {
  background: linear-gradient(295deg, rgb(36 40 53 / 95%), rgb(36 40 53 / 95%)),
    url(https://media.discordapp.net/attachments/852071280730832917/853941612660916244/Frame_28_4.png);
  background-size: cover;
  background-position: center;
}
